.contacts {
    display: flex;
    align-items: center;
    justify-content: center;

    .contacts__item {
            display: flex;
            align-items: center;
        }

    .contacts__item+.contacts__item {
        margin-left: 50px;
    }

    .contacts__item:last-child {
        margin-right: 0;
    }
}

.contacts__link {
    display: flex;
    color: $main-broun-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    cursor: pointer;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            cursor: pointer;
            color: $main-blue-color;
        }
}

.contacts__icon {
    margin-right: 10px;
    fill: $main-broun-color;

    .contacts__link:hover &,
    .contacts__link:focus & {
            cursor: pointer;
            fill: $main-blue-color;
            transition-property: fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
}
