.title {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: $main-black-color;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
}