$main-white-color: #FFFFFF;
$main-blue-color: #2196F3;
$main-black-color: #212121;
$main-broun-color: #757575;
$main-background-color: #F5F4FA;
$main-btn-color: #188ce8;
$main-border-color: #eeeeee;
$border-bottom-color: #ececec;
$main-footer-color: #2F303A;

$mainFont: "Roboto";
$secondaryFont: "Raleway";