.benefits {
    background-color: $main-white-color;
}

.benefits-list {
    display: flex;
    gap: 30px;
}

.benefits-list__title {
    margin-bottom: 10px;
}

.benefits-list__desc {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $main-broun-color;
    margin-bottom: auto;
    text-align: left;
}

.benefits-list__card {
    width: 270px;
    height: 120px;
    background-color: $main-background-color;
    border-radius: 4px;
    display: block;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

