.container--footer {
    display: flex;
    align-items: baseline;
}

.footer {
    background: $main-footer-color;
    padding: 60px 0;
    display: flex;
    align-items: baseline;
}

.footer__location {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $main-white-color;
    font-style: normal;
    margin-top: 20px;
}

.footer-contacts {
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.footer-contacts__item {
    margin-bottom: 10px;
}

.footer-contacts__send {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $main-blue-color;
    }
}

.footer__social {
    margin-left: 70px;
}

.footer__title {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-white-color;
    margin-bottom: 20px;
}

.footer-subscribe {
    display: block;
    align-items: baseline;
    margin-left: 93px;
}

.footer-subscribe__wrapper {
    display: flex;
}

.footer-subscribe__form {
    margin-right: 12px;
}

.footer-subscribe__input {
    padding: 10px;
    width: 100%;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: inherit;
    color: $main-white-color;
}

.footer-subscribe__btn {
    display: flex;
    align-items: center;
    min-width: 200px;
    height: 50px;
    padding: 10px 32px;
    border-radius: 4px;
    border-color: transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 0.53;
    letter-spacing: 0.06em;
    color: $main-white-color;
    background-color: $main-blue-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;

    &:hover,
    &:focus {
            background-color: $main-btn-color;
            color: $main-white-color;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            cursor: pointer;
        }
}

.footer-subscribe__icon {
    margin-left: 10px;
}
